*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: #f6faff;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin: 1rem;
  width: 100px;
  height: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover{
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}